.contact {
  display: flex;
  justify-content: space-between;
  gap: 78px;
}
@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
  }
}

.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 2rem;
  }
}

.contact__left-wrapper {
  width: calc(50% - 39px);
}
.contact__right-wrapper {
  background: #39474A;
  border-radius: 12px;
  color: #FAFBFB;
  padding: 50px 39px;
  width: calc(50% - 39px);
}
.contact__left-wrapper .consent {
  display: flex;
  align-items: center;
  line-height: normal;
  gap: 7px;
}
.contact__left-wrapper .consent label {
  color: #000000;
}
@media screen and (min-width: 768px) {
  .contact__left-wrapper .consent label {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .contact__left-wrapper,
  .contact__right-wrapper {
    width: 100%;
  }
}
.contact__r-title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  margin: 0;
}
.contact__r-emaile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact__r-emaile p {
  display: flex;
  flex-direction: column;
}
.contact__r-emaile p span {
  font-size: 13px;
  line-height: 20px;
  font-family: "Montserrat", serif;
}
.contact__r-emaile p span:nth-child(1) {
  font-weight: 600;
  text-transform: uppercase;
}
.contact__r-emaile p span:nth-child(2) {
  font-weight: 400;

}

#ContactForm-select.field__input {
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid rgb(var(--color-foreground));
  margin-bottom: 2rem;
}

.social-link__wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
}