.build-system {
    .build-system__wrapper {
       .bs-section {
            border: 1px solid red;
            display: flex;
            align-items: center;
            gap: 58px;
            .bs__images-wrapp {
                border: 1px solid red;
                width: 100%;
            }
            .bs__buttons-wrapp {
                border: 1px solid red;
                width: 328px;
            }
        }
    }
}