.subscribe-with-media {
    position: relative;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__logo {
        max-width: 100%;
        width: 305px;
        height: 48px;
        margin: 0 auto;
        margin-block: 50px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__text-container {
        background: #39474a;
        width: 100%;
    }
    video {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .newsletter-form__field-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .newsletter__wrapper {
        display: flex;
        flex-direction: column;
        z-index: 3;
        background: #ffffffcc;
        width: 740px;
        max-width: 100%;
        border-radius: 32px;
        padding: 0;
        .field-email {
            input {
                border: 1px solid #404546;
                border-radius: 2px;
            }
        }
        select {
            border: 1px solid #404546;
            border-radius: 2px;
            padding: 0;
            padding-left: 10px;
        }
        button[type="submit"] {
            background: #67B035;
            border-radius: 6.31px;
            width: 102px;
            height: 53px;
            color: #fff;
            margin-top: 15px;
            margin-inline: auto;
            margin-bottom: 20px;
        }
    }
    .field__button {
        position: unset;
    }
    .newsletter__subheading {
        padding-block: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-weight: 700;
            font-size: 60px;
            line-height: 76px;
            color: #e5e9e9;
            max-width: 447px;
            margin: 0;
        }
        p {
            font-weight: 700;
            font-size: 30px;
            line-height: 40px;
            color: #e5e9e9;
            max-width: 447px;
            margin: 0;
        }
    }
}
